# Object files
*.o
*.ko
*.obj

# Executables
*.out
panoramix

# Debug files
*.dSYM/
vgcore.*
.gdb_history

# Dependencies
*.d

# Libraries
*.lib
*.a
*.la
*.lo

# Criterion
*.gc*
*.test
tests/criterion/*
unit_tests

# IDE specific files
.vscode/
